logging:
  log_path: "src/data_pipeline/logs/training/train_rf.log"
  experiment_tracking: true
  log_level: "INFO"

data:
  target_column: "churn"

model_selection:
  model_choice:
    - "random_forest"
  primary_metric: "f1"
  performance_threshold:
    accuracy: 0.7
    f1_score: 0.65
  threshold_search:
    start: 0.01
    end: 0.99
    step: 0.01

hyperparameters:
  random_forest:
    n_estimators: [200, 250]
    max_depth: [5, null]
    max_features: ["sqrt", "log2", null]
    min_samples_split: [2, 5]
    min_samples_leaf: [1, 2]

  # xgboost_params:


  # Neural network 

cv:
  n_splits: 4
  scoring: "roc_auc"
  n_jobs: -1
  verbose: 1

resampling:
  apply_smotetomek: true

mlflow:
  registered_model_name: "${REGISTERED_MODEL_NAME}"
  tracking_uri: "${MLFLOW_TRACKING_URI}"
  experiment_name: "${MLFLOW_EXPERIMENT_NAME}"
  default_artifact_root: "${MLFLOW_DEFAULT_ARTIFACT_ROOT}"

model:
  random_state: 42

output:
  model_dir: "${MODEL_DIR}"
